
<li class="post-class" id="post-<%= post._id %>">
    <p>
        <% if (locals.user && locals.user.id == post.user.id){ %>
        <small>
            <a class="delete-post-button"  href="new/delete/post/<%= post.id %>">X</a>
        </small>
        <% } %>
       Content: <%= post.content %>
        <br>
        <small>
           Name: <%= post.user.name %>
        </small>
    </p>
        <div class="likes-comments-section">

                     <div class="likes">
                    <a class="likeanchor" href="" ><i class="fas fa-thumbs-up liker"></i> Like</a>
                     </div>
            
            <div class="post-comments">

               <div> <a href="" class="commentclickdiv" id="comment_visible">Comments</a>
                
                <div class="comments" id="comments">

        <% if (locals.user){ %>
            <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
            <form id="post-<%= post._id %>-comments-form" action="/new/comment" method="POST">
                <input type="text" name="comment" placeholder="Type Here to add comment..." required>
                <input type="hidden" name="post" value="<%= post._id %>" >
                <input type="submit" value="Add Comment">
            </form>

        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for (comment of post.comments){%>

                    <%- include('_comments') -%>
                    
                
                <%} %>
            </ul>
        </div>
                       
                </div>
                            </div>

        </div>
        
        </div>
        
</li>
<script src="https://kit.fontawesome.com/0353bbb956.js" crossorigin="anonymous"></script>
<script src="/JS/home.js"></script>