
        <link rel="stylesheet" type="text/css" href="<%= assetPath('CSS/home.css')%>">
    <link rel="stylesheet" href="<%= assetPath('CSS/chat_box.css') %>">
        
<div id="home-container">
    <section id="feed-posts">
            <h4>Posts</h4>
            <% if(locals.user){ %>
            <form action="/new/post" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                <input type="submit" value="Post">
            </form>
            <% } %>
        
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>
                        
                    <%- include('_posts') -%>
                        
                    <%} %>
                </ul>
            </div>
        </section>
        <aside>

        
        <section id="Friends">
            <h2>Friends</h2>
            <%if(locals.user){%>

            <% for(friends of friendlist){%>
                
            
                <% for(u of users){%>
                    <%if(friends.fromuser==user.id){%>

                    <%if(u.id==friends.touser){%>
                        <a href="user/profile/<%= u.id%>"><%= u.name%></a><br><br>
                    <%}%>
                    
                    <%}%>
                    
                    <%}%>
            
                    <%}%>

                <%}%>
        </section> 

        <section id="users">
           <h2>Users</h2>

           <% for(u of users){%>
            <a href="user/profile/<%= u.id%>"><%= u.name%></a><br><br>
            <%}%>
        </section>
        <%- include('_chat_engine')-%>
    </aside>
        
        <br>
        <script src="/JS/comment_ajax.js"></script>
        
        <script src="https://kit.fontawesome.com/0353bbb956.js" crossorigin="anonymous"></script>


        <script src="<%= assetPath('JS/post_ajax.js') %>"></script>
        <script src="<%= assetPath('JS/comment_ajax.js') %>"></script>
        <script src="<%= assetPath('JS/tooglelike.js') %>"></script>
        <script src="<%= assetPath('JS/toggle_comment.js') %>"></script>

        <script>

        $('.liker').each(function(){
            let self = this;
            let togglelike = new Togglelike(self);
        });

        $('.commentclickdiv').each(function(){
            let self = this;
            let togglecomment = new ToggleComment(self);
        });
            
        

        // $('.commentclickdiv').click(function(e){
        // e.preventDefault();
        // let commentvisible = $(this).parent().children('.comments');
        // commentvisible.toggleClass('commentshide');
        // });
        
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>

        <script src="<%= assetPath('JS/chat_engine.js') %>"></script>
        
        <%if(locals.user){%>
        <script>
            new ChatEngine('chatbox','<%= locals.user.email %>')
        </script>
        
        <%}%>
        
        