<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" type="text/css" href="/CSS/newayout.css">
        <link rel="stylesheet" type="text/css" href="/SCSS/header_style.scss">
        <link rel="stylesheet" type="text/css" href="/CSS/footer.scss">
        <%- style %>
    </head>
    <body>

        <%- include('_header')%>
        
        <main id="layout-main">

       
        <%- body %>

    </main>
      
        <%- include('_footer')%>
        
        <%- script %>
        
    </body>
</html>