
        <link rel="stylesheet" type="text/css" href="/CSS/home.css">
        
       

        <%if(profile_user.id == user.id){%>
       <form action="/user/update/<%= profile_user.id %>" method="POST">
         <input type="text" name="name" id="username" value="<%= profile_user.name %>" >
         <input type="text" name="email" id="useremail" value="<%= profile_user.email %>" >
         <input type="submit" id="editprofile_btn">
      </form>
         <%} else{%>        
            <h1><%= h1%> <br>  
               UserName: <%= profile_user.name%> <br>   
            </h1>
         <%}%>